
.carousel-caption h5{
    text-align: left;
    margin-bottom: 20px;
}
.carousel-caption p{
    text-align: left;
    margin-bottom: 19px;
}


h5 span {
	background		: rgb(0, 0, 0); /* на случай, если следующая строка не сработает */
	background		: rgba(0, 0, 0, 0.4);
    padding			: 10px;
}
p span {
	background		: rgb(0, 0, 0); /* на случай, если следующая строка не сработает */
	background		: rgba(0, 0, 0, 0.4);
	padding			: 10px;
}
